BasedOnStyle: Google
Standard: Latest
ColumnLimit: 80
CommentPragmas: '^ Part of the Cloth Compiler project'
DerivePointerAlignment: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"cloth/'
    Priority: 1
  - Regex: '^<'
    Priority: 2
PointerAlignment: Left
SortIncludes: CaseSensitive
