[submodule "std"]
	path = std
	url = https://github.com/Cloth-Foundation/Standard-Library
[submodule "editors/vscode"]
	path = editors/vscode
	url = https://github.com/Cloth-Foundation/Cloth-VSCode-Language-Support
[submodule "editors/jetbrains"]
	path = editors/jetbrains
	url = https://github.com/Cloth-Foundation/Cloth-IntelliJ-Language-Support
[submodule "shuttle"]
	path = shuttle
	url = https://github.com/Cloth-Foundation/Shuttle
